body {
    margin: 0;
    padding: 0;
    width: 453;
    height: 691;
    background-color: #FFFFFF;

  }


  
.logo{

    
    text-align: center;
    margin-top: 0;

}

.center{
width: 1480px;
height: 144;
background-color:grey ;

}
.search{
    text-align: center;
}

.tabs{
width: 1480;
height: 76px;
text-align: center;

}

.tab1{
width: 546px;
height: 76px;
background-color:#7EE5DA ;
padding: 1px;
text-align: center;
padding-top: 9px;
margin-right: 10px;
float: left;

}

.tab2{
    width: 288px;
    height: 87px;
    background-color:#7EE5DA ;
    margin-right: 10px;
    text-align: center;    
    float: left;
    font-size: 80%;
    
    }

    .tab3{
        width: 300px;
        height: 86px;
        background-color:#7EE5DA ;
        padding: 1px;
        text-align: center;
        float: left;
        font-size: 80%;
        
        }

  .gradient {
    background: linear-gradient(
      90deg,
      rgba(45, 156, 219, 0.6),
      rgba(155, 81, 224, 0.6)
    );
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.3);
  }
  
 .footer{
text-align: center;

 }